Package: tw.edu.mcu.cce.nrl.InjectorPreferenceLoader
Name: InjectorPreferenceLoader
Version: 1.0-1
Description: 
Section: PreferenceBundles
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Qbsuran Alang
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

