Package: tw.edu.mcu.cce.nrl.InjectorUploader
Name: InjectorUploader
Version: 1.0-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: 聲華 陳
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

